*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    list-style: none;

    text-decoration: none;    

    font-family: 'Rajdhani', sans-serif;
      
}

:root{
    --color-body:#f0e9dc;
    --cor-bg-principal: #000010;
    --bg-banner:rgba(51, 10, 0, 0.3);
    --font-principal-dark:#1a0500; 
    --font-color-light:#ffebe6;
    --cor-principal: #cc2900;       
    --bg-card:#ffebe6;
    --color-under: #ff5c33;
}

body{
    background-color: var(--color-body);
}   

label[for="btn-menu"]{
    padding: 5px;
    background-color: var(--cor-bg-principal);
    color:var(--font-color-light);
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 45px;

    display: none;
}

#btn-menu{
    display: none;
}

nav {                                     
    display: flex;
    justify-content: flex-end;  
}

.header{
    width: 100%;
    height: auto;

    font-weight: 600;
    overflow-x: hidden;

    background-color: var(--cor-bg-principal);

    position: fixed;
}

#top-menu li{
    text-transform: uppercase;
}
nav #top-menu a{
    color: var(--font-color-light);

    display: inline-block;

    font-weight: 500;
    padding: 5px;

    margin: 10px 0 10px;    
    

    transition: all 0.5s;
}

nav #top-menu:last-child{
    margin-right: 10%;
}

nav #top-menu a:hover{
    color: var(--cor-principal);

    border-bottom: 2px solid var(--cor-principal);

    background-color: rgb(255, 248, 220, 0.1);
}

nav #top-menu a.active{
    color: var(--cor-principal);

    border-bottom: 2px solid var(--cor-principal);

    background-color: rgb(255, 248, 220, 0.1);
}

.banner{
    width: 100vw;
    height:100vh;

    background-image: url(../images/banner.jpg);

    background-clip: border-box;
    background-size: cover;

    color:var(--font-color-light) ;
    
}
.banner .body{
    width: 100vw;
    height: 100vh;
    
    background-color: var(--bg-banner);
}

.banner .body .content{
     max-width: 900px;
     height:300px ;

     margin: auto;

     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

main .tecnologies{
    max-width: 1200px;
    height: auto;

    margin: auto;

    display: flex;
    justify-content: center;    
    align-items: center;

 
}

.tecnologies .box{
    width: 250px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 20px 0 20px;
}

.tecnologies .box .icons{
    width: 180px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;   
    transition: all .5s; 
}

.tecnologies .box .icons:hover{
    border: 3px solid var(--cor-principal);
    border-radius: 10px;
}
.tecnologies .box .icons img{
    width: 130px;
    height: 100px;
}

.tecnologies .box .icons p{
    font-weight: 500;
    font-size: 18px;
}

.whatsapp img{
    width: 64px;
    height: 64px;

    position: fixed;

    bottom: 15px;
    right: 15px;
}


section{
    width: 100vw;
    height:100vh;

    padding: 2%;
}

h1.title{
    text-align: center;

    font-size: 30px;

    font-weight: bold;

    text-transform: uppercase;

    margin: 30px auto 10px;
}
#services .content-body{        
    width: 90vw;
    height: 80vh;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
#services .content-body .card{
    width: 250px;
    height: 300px;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-weight: 500;
    

    padding: 10px;
    margin: 15px;

    border-radius: 25px;

    background-color: var(--bg-card);

    box-shadow: 3px 3px  3px var(--bg-banner);  
    
    transition: all 0.5s;
}
#services .content-body .card:hover{
    box-shadow: 0px 0px  3px 3px var(--bg-banner);
    
    cursor: pointer;

    margin-top: 20px;
}

#services .content-body .card:hover .under{
    width: 45px;
}

#services .content-body .card .under{
    width: 40px;
    height: 3px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--color-under);

    transition: all .5s;
}
#services .content-body .card p{
    font-size: 16px;
    font-weight: 400;
    color: var(--font-principal-dark);
    text-align: center;
    line-height: 25px;
    margin-top: 40px;
}

#services .content-body .card h3{
    color:var(--font-principal-dark);
}

#about{  
    height: calc(100vh - 45px); 
    background-color: var(--cor-bg-principal);
}

#about .content-body{
    max-width: 1200px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about h1, p{
    color: var(--color-body);
}

#about .description img{
    width: 60px;
    height: 60px;

    margin: 20px;
   
}

#about .perfil{
    width: 250px;
    height: 250px;

    margin-left: 50px;
    border-radius: 50%;

    background: url(../images/perfil.jpg);

    background-size: cover;   
    margin-bottom: 30px;
}

#about .description{
    width: 650px;
    max-width: 700px;

    padding: 10px;
}

#about .description p{
    color: var(--font-color-light);

    font-size: 18px;
}

#about .description h4{
    color: var(--font-color-light);
    font-size: 22px;
}

.footer{
    width: 100%;
    height: 100px;

    background-color:var(--cor-bg-principal);
}

.footer h1{

    text-align: center;
    margin-top: 20px;
}

.footer ul{
    max-width: 600px;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer li{
    margin: 10px;    
}

.footer li img{
    width: 50px;
    height: 50px;

    transition: all .5s;       
}
.footer ul li:hover img{
    cursor: pointer;
    
    width: 52px;
    height: 52px;
}








